* {
    box-sizing: border-box;
}
.circle {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background: green;
}
.layer {
    width: 100px; 
    background: green; 
    height: 50px; 
    padding: 5px; 
}
body {
    font-family: 'Times New Roman';
    background-image: url(https://i.pinimg.com/236x/69/d8/08/69d808cb8c6c5097f916a5c4ed243cd4--chibi-cartoon.jpg);
    background-size: 10%;
}
header {
    height: 150px;
    background-color: #FF9999;
}
.style {
    background-color: #FF9999;
    border-radius: 15px;
}
.text {
    text-align: center;
}
p {
    font-size:30px;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
table { 
    background-color: rebeccapurple;
    text-align: center;
    padding: 30px 0 30px 0;
    margin: auto;
    font-size: 20px;

}
tr {
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
}
td {
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
}
th {
    width: 400px;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
}
table tr:nth-child(2n) td {
    background: #9966FF;
}
table tr:nth-child(2n+1) td{ 
    background: #9999FF; 

}
.texss {
text-align:center;
}
footer {
    height: 70px;
    background-color: #FF9999;
}
.piccen {
    display: flex;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
    width: 203px;
    height: 203px;
}
.pic{
    display:block;
    margin:auto;
    float:left; 
    margin:10px; 
    width:100px; 
    height:100px;
}

@media screen and (min-device-width: 576px) {
    .table {
        width: 60%;
    }
}
